<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Using Services</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
<body ng-app="App">
	<div ng-controller="WannaBuy">
		<ul>
			<li ng-repeat="item in items">{{item.name}}</li>
		</ul>
	</div>
	<div ng-controller="AddItemCtrl">
		<form ng-submit="addItem(item)">
			<input type="text" ng-model="item.name">
		</form>
	</div>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="app.js"></script>
</body>
</html>